.resultpic{
    display: flex;
}

.filter{
    width: 70%;
}
.filter-option {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    color: #333;
    
}
.filter-option input {
    margin-right: 8px; /* Increase this value for more spacing */
    transform: scale(1.2); /* Keeps the larger size */
    accent-color: #007bff; /* Customize radio button color */
}
form{
    padding: 150px;
}

.ProductName_HEAD, .ProductType_HEAD ,.Gender_HEAD, .Sport_HEAD, .Collection_HEAD,.ValueBar_HEAD{
    display: flex;
    margin: 15px;
}

input{
    margin-left: 20px;
}
.field{
    display: flex;
    width: 100%;
}

.rangeinput{
    width: 100%;
    display: flex;
    align-items: center;
}

.field input{
    width: 100%;
    height: 100%;
    text-align: center;
}

.rangeinput .separator{
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-group {
    display: flex;
    margin-bottom: 10px;
}


.filter-inputs {
    display: flex;
    gap: 15px; /* Increase the space between each item in the filter-inputs */
    align-items: center;
    margin-top: 10px; /* Space above the input group */
    margin-left: 20px;
}

.filter-inputs label {
    font-size: 1.2em;
    color: #333;
    margin-right: 3px; /* Space between label and input */
}

.ProductName_HEAD input{
    border-radius: 10px;
    border: 1px solid;
}

.filterBOX{
    border: 1px solid #eee;
}

form button{
    background-color: rebeccapurple;
    color: white;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    top: 20px;
}
form button:hover {
    background-color: #101038e8;
}



.products-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    width: 300px; /* Set a fixed width */
    height: 400px; /* Set a fixed height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    border: 1px;
    border-radius: 0.5em;
    margin: 20px;
    padding: 10px;
    background-color: #eee;
    text-align: center;
    box-sizing: border-box; 
}
img{
    border-radius: 0.5em;
}

.box img {
    height: 225px; 
    width: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

.box .info .title {
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.box .info .subinfo .price {
    padding: 10px;
    font-size: 1em;
    color: #333;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}



