.Carousel{
    width: 100%;
    height: 60vh;
}
.Carousel img{
    width: 100%;
    max-height: 55vh;
    height: auto;
    cursor: pointer;
}

section.pages{
    margin-left: auto;
    margin-right: auto;
}
section.Our-Product{
    display: flex;
    
    flex-direction: column;
}
section.Our-Product h1{
    font-weight: bold;
    font-size: 40px;

    text-align: center;
}
section.Our-Product .group-type{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
section.Our-Product .group-type .card-item{
    width: 260px;
    height: 250px;
    background-color: rgb(239, 239, 255);
    display: flex;
    justify-content: center;


}
section.Our-Product .group-type .card-item img{
    width: 300px;
    height: 300px;
    object-fit: contain;
}
section.Product {
    margin-top: 12%;
    margin-bottom: 12%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
section.Product h1{
    font-weight: bold;
    font-size: 40px;

    text-align: center;
    margin-bottom: 2%;
}
section.Product .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
section.Product .container .card{
    width: 220px;
    height: 350px;
    border: 1px solid black;
    border-radius: 8%;
    overflow: hidden;
    
}
section.Product .container .card .card-img{
    width: 100%;
    height: 100px;
}
section.Product .container .card .card-img img{
    width: 100%;
    height: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8%;
}
section.Product .container .card .card-img .Product_name , .Product_price{
    margin: 10px;
    font-weight: bold;

}
section.Product .container .card .card-img .Product_price{
    color: rgb(94, 53, 102);
}
section.Product .container .card .card-img .detail_product{
    border: 0;
    padding: 8px;
    border-radius: 10%;
    margin: 10px;
    background-color: rgb(26, 30, 241);
}
section.Product .container .card .card-img .detail_product a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
section.Product .container .card .card-img .detail_product:hover{
    background-color: rgb(12, 20, 18);
    transition: 0.5s;
}
section.VIDEO_Present{
    width: 100%;
    height: 400px;
}
section.VIDEO_Present video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section.explore_yourself{
    width: 100%;
    height: 250px;
    margin-top: 5%;
}
section.explore_yourself .container{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    gap: 5%;

}
section.explore_yourself .title{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;
}
section.explore_yourself .container .card{
    margin-top: 15px;
    width: 32.5%;
    height: 90%;
    border-radius: 10px;
    position: relative;
}
section.explore_yourself .container .card .card-img{
    width: 100%;
    height: 100%;
}

section.explore_yourself .container .card .card-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}
section.explore_yourself .container .card .card-img:hover {
    opacity: 0.7;
    transition: 0.3s;
}
section.explore_yourself .container .card  a {
    color: rgb(255, 255, 255);
    position: absolute;
    padding: 15px;
    background-color: rgb(0, 0, 0);
    border-radius: 0 10px 10px 0;
    font-weight: bold;
    top: 60%;
    text-decoration: none;
}
section.explore_yourself .container .card  a:hover {
    background-color: rgb(75, 73, 80);
    transition: 0.5s;
}
footer{
    margin-top: 5%;
    width: 100%;
    height: 100px;
    background-color: rgb(6, 15, 41);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
footer h2{
    color:white;
    font-weight: bold;
    margin-bottom: 10px;
    
}
footer h3 a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
footer h3 a:hover{
    color: orange;
    transition: 0.5s;
}