.container {
    width: 100%;
    height: 100vh;
}
.top-bar{
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    padding: 25px;

}
.title-dash{
    font-size: 40px;
    color: rgb(0, 0, 0);
}
.info{
    color: rgb(0, 0, 0);
    font-size: 20px;
}