@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
body{
    display: flex;

}
.container-sidebar{
    width: 300px;
    height: 100vh;
    background: #1d1e40;
    position: relative;
}
.sidebar{
    position: absolute;
}
.title{
    margin: 20px;
    color: white;
    font-weight: bold;

}
hr{
    margin: 20px;
    width: 200px;
}
.title-page{
    color: white;
    margin: 20px;
}
.mega-list{
    margin-bottom: 20px;
}
.list-component{
    margin-left: 20px;
    color: white;
    display: flex;
    gap: 20px;
}
.sub-list-component
{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    margin-left: 70px;
    
}
.sub-list-component a{
    color: white;
    margin: 5px;
    text-decoration: none;
}
.exit{
    margin-left: 20px;
    position: relative;
    top: 40vh;
    color: white;
}
.exit a{
    color: white;
    text-decoration: none;

}
i{
    font-size: 23px;
}
section.container {
    height: 100vh;
    width: 100%;
    background-color: #f4f4f9;
}
.title-main{
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
}
.content-container {
    width: 100% important!!; 
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    box-sizing: border-box;
}
.content-container .title{
    color: black;
    font-size: 25px;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-content .add-button button{
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: #4cc740;
    color: white;
    font-weight: bold;
}

#myTable thead th {
    background-color: #ffa600;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: 1px solid black;
}


#myTable tbody td {
    border: 1px solid #ddd;
    padding: 8px;
}

/* สีพื้นหลังเมื่อวางเมาส์เหนือแถว */
#myTable tbody tr:hover {
    background-color: #f2f2f2;
}

/* ปรับการจัดแนวให้เป็นกลาง */
#myTable tbody td, #myTable thead th {
    text-align: center;
}
td.action{
    width: 20%;
    
}
td.action button{
    margin-left: 15px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}
td.action button.edit{
    background-color: rgb(255, 238, 88);
}
td.action button.delete{
    background-color: rgb(247, 112, 112);
}