#myTable thead th {
    background-color: #ffa600;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: 1px solid black;
}
#myTable tbody td {
    border: 1px solid #ddd;
    padding: 8px;
}
#myTable tbody tr:hover {
    background-color: #f2f2f2;
}
#myTable tbody td, #myTable thead th {
    text-align: center;
}

td.action{
    width: 20%;
}
td.action .edit{
    padding: 5px;
    background-color: #ffa600;
    color: white;
    margin: 2px;
    border-radius: 10%;
    cursor: pointer;
    text-decoration: none;
    border: none;
}
td.action .delete{
    padding: 6px;
    background-color: #ff5252;
    color: white;
    margin: 2px;
    border-radius: 10%;
    border: none;
    cursor: pointer;

}